!!! html

%html{ "ng-app" => "ENSearch" }

  %head
    = include_gon
    %title EchoNest
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = render 'layouts/shim'

    %body{ "ng-controller" => "ENSearchCtrl" }

      = render 'layouts/header'

      .container.fluid

        = yield
        = render 'layouts/footer'
